
MyBasicSite/
jQuery/index.html
jQuery/script.js
jQuery/style.css
Simon Game Challenge Starting Files/.DS_Store
Simon Game Challenge Starting Files/index.html
Simon Game Challenge Starting Files/script.js
Simon Game Challenge Starting Files/sounds/blue.mp3
Simon Game Challenge Starting Files/sounds/green.mp3
Simon Game Challenge Starting Files/sounds/red.mp3
Simon Game Challenge Starting Files/sounds/wrong.mp3
Simon Game Challenge Starting Files/sounds/yellow.mp3
Simon Game Challenge Starting Files/styles.css
